<ng-container *ngIf="($props | async) as props">
    <div class="flex flex-col gap-12 px-window [&>*]:w-full">

        <!-- Personalized greeting -->
        <tsr-greeting [user]="props.user"></tsr-greeting>

        <!-- Socket connection status -->
        <ng-container *ngIf="props.connection?.status !== 'disconnected' && props.connection?.reconnectAttempts > 0">
            <div class="py-row">
                <div class="flex flex-1 items-center justify-start w-full bg-warn p-3 rounded-sm border border-warn-light">
                    <div>
                        <p class="text-sm pb-2">Störung erkannt.</p>
                        <p class="text-sm">Derzeit kann keine zuverlässige Verbindung zum Soundcore-Service aufgebaut werden. 
                            Du wirst automatisch verbunden sobald der Service wieder erreichbar ist. ({{ props.connection?.reconnectAttempts ?? 0 }})
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="w-full">
            <ng-container *ngIf="(_channelManager.$loading | async); else featuredChannelsSection">
                <div class="mb-2 h-8 max-w-64 bg-body-light rounded animate-pulse"></div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-4">
                    
                </div>
            </ng-container>

            <ng-template #featuredChannelsSection> 
                <h5 class="mb-2">Empfohlene Channels</h5>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-4">
                    <tsr-channel-historical 
                        *ngFor="let channel of (_channelManager.$featuredChannels | async)" 
                        [channel]="channel"
                        [selected]="channel?.id === props.currentChannel?.id"
                        [playing]="props.isPlaying"
                        [loading]="props.isLoading"
                        (select)="forcePlay(channel)">
                    </tsr-channel-historical>
                </div>
            </ng-template>

            
        </div>

        <!-- <div class="py-row" *ngIf="props.channels.length > 0">
            <h6 class="pb-2">Weitere Channels</h6>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-1 gap-4">
                <tsr-channel-historical 
                    *ngFor="let channel of props.channels" 
                    [channel]="channel"
                    [selected]="channel?.id === props.currentChannel?.id"
                    [playing]="props.isPlaying"
                    [loading]="props.isLoading"
                    (select)="forcePlay(channel)">
                </tsr-channel-historical>
            </div>
        </div> -->

        <!-- <div class="grid grid-cols-3 w-full">
            <div class="w-full h-full min-h-24 bg-body-dark rounded p-6">
                <h5>Streams einbinden</h5>
                <p class="mt-2 text-sm">Liste aller Direktlinks zum einbinden der Streams</p>
            </div>
        </div> -->
    </div>
</ng-container>

<ng-template #loadingList>
    <div class="py-row pointer-events-none">
        <p class="opacity-70 font-light mb-2 tracking-wide w-48 bg-body-light rounded-sm text-transparent text-opacity-0 animate-pulse">_</p>
        <div class="grid grid-cols-1 md:grid-cols-2 grid-rows-1 gap-4">
            <tsr-channel-historical></tsr-channel-historical>
            <tsr-channel-historical></tsr-channel-historical>
            <tsr-channel-historical></tsr-channel-historical>
        </div>
    </div>
</ng-template>