<div 
    [routerLink]="routerLink"
    [routerLinkActiveOptions]="routerLinkActiveOptions ?? { exact: false }"
    routerLinkActive="bg-opacity-80 hover:bg-opacity-80 active:bg-opacity-80 border-opacity-60"
    class="px-3 py-2 border border-body-lighter border-opacity-0 rounded-sm bg-body-light bg-opacity-0 hover:bg-opacity-60 active:bg-opacity-80 transition-all cursor-pointer active:border-opacity-60 [&>div]:active:scale-95">
    <div class="flex justify-start items-center gap-4 select-none origin-center transform-gpu transition-transform will-change-transform">
        <ng-content select="ng-icon"></ng-content>
        <span class=""><ng-content></ng-content></span>
    </div>
</div>