@import "tailwindcss";

:root {
  --color-surface: hsl(0, 0%, 10%);
  --color-surface-on: hsl(38, 29%, 85%);
  --color-surface-container: hsl(0, 0%, 18%);

  --color-primary: hsl(37, 99%, 53%);

  --font-sans: var(--font-readex-pro), Arial, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-surface: hsl(0, 0%, 90%);
    --color-surface-on: hsl(38, 29%, 15%);
    --color-surface-container: hsl(0, 0%, 82%);

    --color-primary: hsl(37, 99%, 53%);

    --font-sans: var(--font-readex-pro), Arial, sans-serif;
  }
}

@theme {
  --color-surface: var(--color-surface);
  --color-surface-container: var(--color-surface-container);

  --color-surface: var(--color-surface);
  --color-surface-on: var(--color-surface-on);
  --color-surface-container: var(--color-surface-container);

  --color-primary: var(--color-primary);

  --font-sans: var(--font-sans);
}

body {
  background: var(--color-surface);
  color: var(--color-surface-on);
  font-family: var(--font-sans);
}
