@import "tailwindcss";

:root {
  --color-surface: hsl(0, 0%, 6%);
  --color-surface-on: hsl(38, 29%, 85%);
  --color-surface-container: #2d2d2d;
}

/* @theme inline {
  --color-surface: #191919;
  --color-surface-container: #2d2d2d;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-surface);
  color: var(--color-surface-on);
  font-family: var(--font-sans);
}
