@import "../variables.scss";

@mixin absolutePosition {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000000000;
}

.modal-overlay {
    @include absolutePosition;
    width: 100%;
    height: 100%;
    pointer-events: all;
    opacity: 1;
    
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    transition: all $animSpeedFast*1s $cubicNorm;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

#modal-wrapper {
    @include absolutePosition;
    display: inline-block;
    pointer-events: all;
    opacity: 1;
    width: 100%;
    height: 100%;
    padding: $windowPad;

    &.hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal-container {
    position: absolute;
    display: inline-block;
    text-align: center;

    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.modal {
    text-align: left;
    display: inline-block;
    position: relative;
    width: 650px;

    background-color: $colorPrimaryDark;
    border-radius: $borderRadNormal;
    overflow: hidden;

    .modal-section {
        display: block;
        width: 100%;
        padding: $boxPad;
    }

    .modal-header {
        font-size: 1.1em;
        font-family: 'Whitney', sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
        opacity: 0.8;
        padding: $boxPad;

        background-color: $colorPrimary;
        border-bottom: 1px solid $colorPlaceholder;
    }

    .modal-scroll-area {
        display: inline-block;
        padding: 0 $windowPad;
        overflow-y: auto;

        .modal-content {
            display: inline-block;
            width: 100%;
            padding: $boxPad 0;
            font-weight: 400 !important;
        }
    }

    .modal-footer {
        text-align: right;
        background-color: $colorPrimary;
        border-top: 2px solid $colorPlaceholder;
    }
}


/**
[]=============================[]
          Media Query
[]=============================[]
*/
@media screen and (max-width: 750px) {
    .modal {
        width: 500px !important;
    }
}

@media screen and (max-width: 540px) {
    .modal-container {
        padding: 0 $boxPad;

        .modal {
            width: 100% !important;

            .modal-footer {
                text-align: left;

                button {
                    display: block;
                    width: 100% !important;
                    text-align: center;
                }
            }
        }
    }
}
