<button
  class="btn relative inline-flex justify-start items-center cursor-pointer outline-none select-none border rounded-sm transition-colors"
  (click)="handleOnClick()"
  [ngClass]="{
    btn_loading: loading,
    btn_disabled: disabled,
    btn_size_full: full,
    btn_size_sm: size === 'sm',
    btn_size_default: size === 'default',
    btn_size_lg: size === 'lg',
    btn_icon: icon,
    'text-white':
      color === 'accent' || color === 'info' || color === 'success' || color === 'error' || color === 'primary',

    'bg-body-lighter text-font border-body-lighter': color === 'primary',
    'bg-white text-body-dark border-white': color === 'primary_inverted',
    'bg-accent border-accent': color === 'accent',
    'bg-info border-info': color === 'info',
    'bg-warn text-font border-warn': color === 'warn',
    'bg-error border-error': color === 'error',
    'bg-success border-success': color === 'success'
  }">
  <span class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2" *ngIf="loading"
    ><tsa-loader [dark]="loaderDarkMode"></tsa-loader
  ></span>
  <div><ng-content></ng-content></div>
</button>
