<ng-container *ngIf="($props | async) as props">
    <div class="w-full h-full relative overflow-hidden">
        <div class="w-full z-0 h-full absolute left-0 top-0">
            <tsr-background></tsr-background>
        </div>

        <div class="absolute top-0 z-10 left-1/2 -translate-x-1/2 w-[200vw] md:w-[160vw] lg:w-[130vw]">
            <div class="header-gradient w-full h-[400px] lg:h-[500px] -translate-y-1/2"></div>
        </div>
    
        <div class="relative z-50 flex flex-1 flex-col items-start justify-start mx-auto h-full overflow-hidden w-full select-none max-w-[1200px]">
            <!-- Header -->
            <div class="absolute z-[1000] top-0 left-0 w-full">
                <tsr-header>
                    <ng-container tsr-header-nav>
                        <a [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-accent">Channels</a>
                        <a [routerLink]="['/admin']" routerLinkActive="text-accent">Admin</a>
                    </ng-container>
                </tsr-header>
            </div>
        
            <!-- Content -->
            <div class="flex-grow w-full overflow-y-auto lg:px-window">
                <div class="pt-20 lg:pt-top"></div>
                <router-outlet></router-outlet>
                <div class="pb-bottom"></div>
            </div>
        
            <div class="absolute bottom-0 left-0 right-0 lg:left-window lg:right-window flex-col pointer-events-none">
                <!-- Player bar -->
                <div class="px-window lg:px-0 pb-4 lg:pb-window" *ngIf="props.currentChannel">
                    <tsr-playerbar></tsr-playerbar>
                </div>
    
                <!-- Bottom navigation -->
                <div class="grid grid-cols-2 w-full px-window py-2 bg-body-dark rounded-t-xl lg:hidden shadow-xl pointer-events-auto overflow-hidden">
                    <a [routerLink]="['/']" routerLinkActive="[&>div]:text-accent" [routerLinkActiveOptions]="{exact: true}">
                        <div class="flex flex-col justify-center items-center gap-1 transition-all rounded will-change-transform transform-gpu bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-40 px-6 py-2 cursor-pointer">
                            <ng-icon name="heroSignalSolid" size="24"></ng-icon>
                            <p class="text-sm text-inherit text-opacity-60">Channels</p>
                        </div>
                    </a>
    
                    <a [routerLink]="['/admin']" routerLinkActive="[&>div]:text-accent">
                        <div class="flex flex-col justify-center items-center gap-1 transition-all rounded will-change-transform transform-gpu bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-40 px-6 py-2 cursor-pointer">
                            <ng-icon name="heroCog6Tooth" size="24"></ng-icon>
                            <p class="text-sm text-inherit text-opacity-60">Admin</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-container>