<ng-container *ngIf="($props | async) as props">
    <div class="relative flex flex-1 flex-col items-start justify-start mx-auto h-full overflow-hidden w-full lg:px-window lg:pt-row select-none lg:rounded max-w-[1200px]">
        <!-- Header -->
        <div class="flex items-center justify-center w-full py-4 px-window bg-body-dark lg:rounded shadow-xl">
            <div class="items-center gap-4 hidden lg:flex">
                <a [routerLink]="['/']"><img src="/assets/img/logo.svg" alt="" class="w-16 h-16"></a>
                <p class="text-xl font-bold">TSRadio</p>
            </div>
    
            <div class="flex-grow flex items-center justify-center text-center">
                <a [routerLink]="['/']" class="inline lg:hidden"><img src="/assets/img/logo.svg" alt="" class="w-12 h-12"></a>
            </div>
    
            <div class="items-center justify-end pr-4 gap-4 hidden lg:flex">
                <a [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="text-accent">Channels</a>
                <a [routerLink]="['/admin']" routerLinkActive="text-accent">Admin</a>
            </div>
        </div>
    
        <!-- Content -->
        <div class="flex-grow w-full overflow-y-auto">
            <router-outlet></router-outlet>
            <div class="pb-bottom"></div>
        </div>
    
        <div class="flex flex-col gap-2 w-full">
            <!-- Player bar -->
            <div class="px-window lg:px-0 lg:pb-window" *ngIf="props.currentChannel">
                <tsr-playerbar></tsr-playerbar>
            </div>

            <!-- Bottom navigation -->
            <div class="grid grid-cols-2 w-full px-window py-2 bg-body-dark lg:hidden shadow-xl">
                <a [routerLink]="['/']" routerLinkActive="[&>div]:text-accent" [routerLinkActiveOptions]="{exact: true}">
                    <div class="flex flex-col justify-center items-center gap-1 transition-all rounded will-change-transform transform-gpu bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-40 px-6 py-2 cursor-pointer">
                        <ng-icon name="heroSignalSolid" size="24"></ng-icon>
                        <p class="text-sm text-inherit text-opacity-60">Channels</p>
                    </div>
                </a>

                <a [routerLink]="['/admin']" routerLinkActive="[&>div]:text-accent">
                    <div class="flex flex-col justify-center items-center gap-1 transition-all rounded will-change-transform transform-gpu bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-40 px-6 py-2 cursor-pointer">
                        <ng-icon name="heroCog6Tooth" size="24"></ng-icon>
                        <p class="text-sm text-inherit text-opacity-60">Admin</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ng-container>