[Unit]
Description=TSRadio NodeJS API
After=network.target
After=mysql.service

[Service]
Type=simple

User=user
Group=group

ExecStart=/usr/bin/npm --prefix /path/to/api run start

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target