[Unit]
Description=TSRadio Streamer
Requires=network.target
After=network.target
After=redis-server.service
After=mysql.service
After=tsrapi.service

[Service]
Type=forking
Restart=always
RestartSec=3

User=user
Group=group

ExecStart=/path/to/tsradio/scripts/start.sh
ExecStop=/path/to/tsradio/scripts/stop.sh

[Install]
WantedBy=multi-user.target