[Unit]
Description=TSRadio Streamer
Requires=network.target
After=network.target
After=mysql.service
After=radioApi.service

[Service]
Type=forking
Restart=always
RestartSec=10

User=user
Group=group

ExecStart=/path/to/tsradio/scripts/start.sh
ExecStop=/path/to/tsradio/scripts/stop.sh

[Install]
WantedBy=multi-user.target