<div 
    (click)="select.emit(channel)" 
    [ngClass]="{'border-opacity-70': selected, 'pointer-events-auto': !!channel}"
    class="relative bg-body-light bg-opacity-50 p-2 md:p-4 rounded-sm border-2 border-body-lighter border-opacity-0 transition-all pointer-events-none cursor-pointer hover:border-opacity-70 [&>div]:active:scale-95">
    
    <div class="relative flex flex-1 items-center justify-start gap-2 md:gap-4 transform-gpu will-change-transform transition-all">
        <div class="w-16 h-16 md:w-20 md:h-20 rounded-sm overflow-hidden">
            <tsr-artwork [artwork]="channel?.artwork"></tsr-artwork>
        </div>

        <div class="flex flex-col gap-0.5 md:gap-1.5 items-start justify-center flex-grow">
            <div class="flex items-center justify-start w-full gap-2">
                <p class="line-clamp-1 text-md w-full">{{ channel?.name }}</p>
                <tsr-equalizer *ngIf="playing"></tsr-equalizer>
                <ngs-loader *ngIf="selected && loading"></ngs-loader>
            </div>
            <div class="flex flex-col items-start justify-center" *ngIf="channel?.track">
                <p class="line-clamp-1 text-sm">{{ channel?.track?.name }}</p>
                <ul class="line-clamp-1 w-full">
                    <li class="inline text-font opacity-40"><span class="text-sm pointer-events-all">{{ channel?.track?.primaryArtist ?? "Unbekannter Künstler" }}</span>{{ channel?.track?.featuredArtists?.length > 0 ? ", " : "" }}</li>
                    <li *ngFor="let artist of channel?.track?.featuredArtists; index as i" class="inline text-font opacity-40"><span class="text-sm pointer-events-all">{{ artist }}</span>{{ i + 1 < channel?.track?.featuredArtists?.length ? ", " : "" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>