.loader {
  border-color: #fff;
  border-style: solid;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin linear infinite;
  mix-blend-mode: difference;
  transform-origin: 50%  51%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}