/* You can add global styles to this file, and also import other style files */

/* Import Tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import Readex Pro Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
/* General styling */
* {
    font-family: 'Readex Pro', sans-serif;
    -webkit-tap-highlight-color: transparent;
    font-weight: 500;

    font-size: 14px;
    line-height: 1.5rem/* 24px */;
}

html, body { 
    height: 100%; 
    width: 100%;
    overflow: hidden;
    @apply text-font;
}
body { 
    margin: 0;
    @apply bg-body;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 9999999999999 !important;
}

.cdk-dialog-container>div>div {
    background-color: rgb(45 45 45) !important;
}

.mdc-notched-outline__notch { border-right: none; }

/**
[]=============================[]
          Headlines
[]=============================[]
*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Readex Pro', sans-serif;
    @apply font-bold;
}

h1 {
    @apply text-4xl tracking-tight;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-lg;
}
h6 {
    @apply text-md font-normal;
}

/**
[]=============================[]
          Scrollbars
[]=============================[]
*/
/* width */
::-webkit-scrollbar {
    width: 0.35rem;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-body-light rounded;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/**
[]=============================[]
    Fix horizontal scroll 
    inside virtual scroll 
    viewport
[]=============================[]
*/
cdk-virtual-scroll-viewport {  
    .cdk-virtual-scroll-content-wrapper {
        max-width: 100% !important;
    }
}