<ng-container *ngIf="($props | async) as props">
    <div class="px-window pt-window">

        <tsr-greeting [user]="props.user"></tsr-greeting>
    
        <div (click)="forcePlay(item)" *ngFor="let item of props.featured ?? []">
            <div class="flex items-center justify-start hover:border cursor-pointer">
                <div class="flex items-center justify-start">
                    <div class="w-40 h-40">
                        <tsr-artwork [artwork]="item?.artwork"></tsr-artwork>
                    </div>
                    <div>
                        <p>{{ item?.name }}</p>
                        <p>{{ item?.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <h6>Channels</h6>
    
        <div (click)="forcePlay(item)" *ngFor="let item of props.channels ?? []">
            <div class="flex items-center justify-start hover:border cursor-pointer">
                <div class="flex items-center justify-start">
                    <div class="w-40 h-40">
                        <tsr-artwork [artwork]="item?.artwork"></tsr-artwork>
                    </div>
                    <div>
                        <p>{{ item?.name }}</p>
                        <p>{{ item?.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>