<ng-container *ngIf="($props | async) as props">
    <div @enterLeaveTrigger class="flex items-start justify-center flex-col gap-2 overflow-hidden pointer-events-none">
        <div class="inline-flex items-center justify-start bg-body-dark rounded p-2 px-4 gap-4 pointer-events-auto">
            <p class="opacity-70 font-light text-xs">Channel:</p>
            <p class="opacity-70 font-light text-xs">{{ props.currentChannel?.name ?? "Nichts ausgewählt" }}</p>
        </div>

        <div class="relative flex w-full items-center justify-start rounded bg-body-dark p-3 pointer-events-auto">
            <div class="flex items-center justify-start w-full md:w-1/3 gap-2">
                <div class="min-w-14 w-14 h-14 rounded-sm overflow-hidden">
                    <tsr-artwork [artwork]="props.currentChannel?.artwork"></tsr-artwork>
                </div>
    
                <div class="flex-grow" *ngIf="props.currentChannel?.track as track">
                    <p class="line-clamp-1">{{ track?.name || "Unbekannter Titel" }}</p>
                    <ul class="line-clamp-1 w-full">
                        <li class="inline text-font text-opacity-70"><span class="text-sm pointer-events-all">{{ track?.primaryArtist ?? "Unbekannter Künstler" }}</span>{{ track?.featuredArtists.length > 0 ? ", " : "" }}</li>
                        <li *ngFor="let artist of track?.featuredArtists; index as i" class="inline text-font text-opacity-70"><span class="text-sm pointer-events-all">{{ artist }}</span>{{ i + 1 < track.featuredArtists.length ? ", " : "" }}</li>
                    </ul>
                </div>
            </div>
        
            <div class="flex items-center justify-center gap-2 md:w-1/3">
                <button class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-accent" (click)="togglePause()">
                    <ng-icon name="heroPlaySolid" size="24" class="ml-1" *ngIf="!props.isPlaying && !props.isLoading"></ng-icon>
                    <ng-icon name="heroPauseSolid" size="24" *ngIf="props.isPlaying && !props.isLoading"></ng-icon>
                    <tsa-loader *ngIf="props.isLoading"></tsa-loader>
                </button>
                <button class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-70 transition-all">
                    <ng-icon name="heroForward" size="24" (click)="forceSkip()"></ng-icon>
                </button>
            </div>
    
            <div class="flex items-center justify-end md:w-1/3 gap-2">
                <!-- Speaker button -->
                <span class="flex flex-grow relative items-center justify-end" *ngIf="!props.isMobile">
                    <button (click)="toggleMute()" class="inline-flex items-center justify-center min-w-12 w-12 h-12 rounded-full bg-body-light bg-opacity-0 hover:bg-opacity-30 active:bg-opacity-70 transition-all">
                        <ng-icon size="21" name="heroSpeakerWave" *ngIf="!props.isMuted; else mutedIcon"></ng-icon>
                        <ng-template #mutedIcon><ng-icon size="21" name="heroSpeakerXMark"></ng-icon></ng-template>
                    </button>

                    <span class="inline-block pl-1 pr-2 -mt-1 min-w-16 w-16 sm:max-w-28 sm:w-28">
                        <tsr-range [max]="100" [current]="props.volume" (onChanged)="setVolume($event)"></tsr-range>
                    </span>
                </span>

                <span class="relative hidden justify-center items-center bg-body-light rounded-sm uppercase text-sm px-4 py-2 gap-2 md:inline-flex">
                    <span class="relative flex justify-center items-center h-3 w-3">
                        <span class="absolute inline-block w-full h-full bg-red-600 rounded-full animate-ping opacity-70"></span>
                        <span class="inline-block w-full h-full bg-red-600 rounded-full"></span>
                    </span>
                    Live
                </span>
            </div>
        </div>
    </div>
</ng-container>