/*
[]========== Colors ==========[]
*/

$colorPrimary: #262D37;
$colorPrimaryDark: #222831;
$colorPrimaryDarker: #1e232b;
$colorDark: #1c2129;

$colorAccent: #e05858;
$colorAccentDark: #993a3a;
$colorAccentLight: #fd6a6a;

$colorWhite: #ebebeb;
$colorPlaceholder: #3D4550;
$colorGrayLight: rgb(82, 89, 99);
$colorGrayDark: rgb(72, 76, 82);

$colorSuccess: #538d4a;
$colorSuccessDark: #416e3a;

$colorInfo: #277cad;

$colorPurple: #090C2F;
$colorPink: #BAAFE3;


/*
[]========== Animations ==========[]
*/
$animSpeedQuick: .05;
$animSpeedFast: .1;
$animSpeedNormal: .25;
$animSpeedLong: .45;

/*
[]========== Cubic-Bezier-Eases ==========[]
*/
$cubicNorm: cubic-bezier(.53,.01,.18,1);

/*
[]========== Border-Radius ==========[]
*/
$borderRadSmall: 4px;
$borderRadNormal: 8px;
$borderRadLarge: 12px;

/*
[]========== Shadows ==========[]
*/
$shadowButton: 1px 1px 3px 0px rgba(0,0,0,0.2);
$shadowForm: 3px 3px 6px 0px rgba(0,0,0,0.3);
$shadowNormal: 0px 3px 8px 0px rgba(0,0,0, 0.16);
$shadowHeavy: 2px 2px 12px 0px rgba(0,0,0, 0.25);

/*
[]========== Pads and Margs ==========[]
*/
$windowPad: 2em;
$boxPad: 1em;