@import '@/assets/scss/_variables.scss';

@mixin form-group {
    display: block;
    padding: 0.8em;
}

label {
    display: block;
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: 0.3px;
    margin-bottom: 0.3em;
}

.form-group {
    @include form-group;
}
.form-group-inline {
    @include form-group;

    display: inline-block;
    width: 50%;
}

input[type=text],
input[type=password],
input[type=number] {
    appearance: none;
    outline: none;
    border: none;
    background-color: $colorPrimary;
    padding: 1em;
    font-size: 0.75em;
    display: block;
    width: 100%;
    border-radius: $borderRadTiny;
    border: 2px solid transparent;
    transition: all $animSpeedFast*1s $cubicNorm;

    &::placeholder {
        color: $colorPlaceholder;
        font-weight: 700;
    }

    &:focus {
        border: 2px solid $colorPlaceholder;
    }
}

