@import '_variables';

.list-grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    padding-bottom: 3em;

    .list-item-covered-wrapper {
        display: block;
        width: 100%;
        padding: 0.5em 0.5em;

        &:nth-child(even) {
            padding-right: 0;
        }
        &:nth-child(odd) {
            padding-left: 0;
        }
    }

    .list-item-covered {
        position: relative;
        display: table;
        width: 100%;

        //overflow: hidden;
        vertical-align: top;
        background: $gradientBoxDark;
        border-radius: $borderRadSmall;
        border: 3px solid $colorPrimaryDark;
        transition: all $animSpeedFast*1s $cubicNorm;
        cursor: pointer;
        box-shadow: $shadowList;

        &.selected {
            border-color: rgba($color: $colorPlaceholder, $alpha: 1);
        }

        &:active {
            transform: scale(0.98);
        }

        .list-item-col {
            display: table-cell;
            vertical-align: middle;

            &.list-item-cover {
                padding: 0;
                width: 116px;
                height: 116px;
            }

            &.list-item-content {
                padding: 0 1em;
            }
        }
    }
}

/*
[]=========== Media Query ===========[]
*/
@media screen and (max-width: 1300px) {
    .list-grid-wrapper {
        .list-item-covered {
            .list-item-cover {
                width: 96px !important;
                height: 96px !important;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .list-grid-wrapper {
        grid-template-columns: 100%;

        .list-item-covered-wrapper {
            padding: 0.5em 0;
            

            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }

        .list-item-covered {
            border-width: 2px !important;
            
            .list-item-cover {
                width: 84px !important;
                height: 84px !important;
            }
        }
    }
}