@import '@/assets/scss/_variables.scss';

.list-grid-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;

    .list-item-covered-wrapper {
        display: block;
        width: 100%;
        padding: 0 1em;

        &:nth-child(even) {
            padding-right: 0;
        }
        &:nth-child(odd) {
            padding-left: 0;
        }
    }

    .list-item-covered {
        display: table;
        width: 100%;
        
        overflow: hidden;
        vertical-align: top;
        box-shadow: $shadowNormal;
        background-color: rgba($color: $colorPlaceholder, $alpha: 0.8);
        border-radius: $borderRadSmall;

        .list-item-col {
            display: table-cell;

            &.list-item-cover {
                padding: 0;
                width: 100px;
                height: 100px;
                background-color: $colorPrimary;

                border-top-right-radius: $borderRadSmall;
                border-bottom-right-radius: $borderRadSmall;
            }

            &.list-item-content {
                padding: 0 1em;
            }
        }
    }
}

/*
[]=========== Media Query ===========[]
*/
@media screen and (max-width: 1300px) {
    
}

@media screen and (max-width: 950px) {
    .list-grid-wrapper {
        grid-template-columns: 100%;

        .list-item-covered-wrapper {
            padding: 0.5em 0;

            &:first-of-type {
                padding-top: 0;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }

        .list-item-covered {
            .list-item-cover {
                width: 80px !important;
                height: 80px !important;
            }
        }
    }
}