button::selection,
img::selection {
    background: none;
}

img {
    pointer-events: none;
    min-height: 4px;
    min-width: 4px;

    &::after {
        content: "";
        background-color: $colorPrimaryDark;
    }
}