/*
[]=========== General styling ===========[]
*/
* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: $colorWhite;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: $colorPrimary;

    background-image: url(assets/images/background/background_blurred.png);
}

#wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.content-container {
    display: block;
    width: 1200px;
}

/*
[]=========== Headlines ===========[]
*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: inherit;

    &.capitalize {
        text-transform: uppercase;
    }

    &.slim {
        font-weight: 400;
        letter-spacing: 0.3px;
    }
}
h1 {
    font-weight: 700;
    font-size: 2.5em;

    &.gigantic {
        font-size: 3.5em;
    }
}

h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: 0.9em;
}
h6 {
    font-size: 0.7em;
}

/*
[]=========== Paragraphs ===========[]
*/
p {
    font-weight: 400;
    font-size: 0.95em;
    letter-spacing: 0px;
}

/*
[]=========== Buttons ===========[]
*/

$buttonHeights: (
    's': 32px, 
    'm': 38px, 
    'l': 45px, 
    'xl': 52px
);

.btn {
    display: block;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    letter-spacing: 0.3px;
    font-size: 0.7em;
    font-weight: 600;
    padding: 0.8em;
    border-radius: $borderRadTiny;
    cursor: pointer;
    transition: all $animSpeedFast*1s $cubicNorm;

    img {
        display: inline-block;
        height: 40%;
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

.btn-primary {
    background-color: $colorPlaceholder;
    color: $colorWhite;

    &:hover {
        background-color: darken($color: $colorPlaceholder, $amount: 2);
    }
}
.btn-accent {
    background-color: $colorAccent;
    color: $colorWhite;

    &:hover {
        background-color: darken($color: $colorAccent, $amount: 2);
    }
}

.btn-s {
    padding: 0 1em;
    font-size: 0.65em;

    height: map-get($map: $buttonHeights, $key: 's');

    &:active {
        transform: scale(0.95);
    }
}
.btn-m {
    padding: 0 1.8em;
    height: map-get($map: $buttonHeights, $key: 'm');

    &:active {
        transform: scale(0.96);
    }
}
.btn-l {
    padding: 0 5em;
    font-size: 0.75em;
    font-weight: 500;
    height: map-get($map: $buttonHeights, $key: 'l');

    &:active {
        transform: scale(0.97);
    }
}
.btn-xl {
    padding: 0em 8em;
    font-size: 0.8em;
    font-weight: 500;
    height: map-get($map: $buttonHeights, $key: 'xl');

    &:active {
        transform: scale(0.98);
    }
}
.btn-full {
    display: block;
    width: 100%;

    &:active {
        transform: scale(0.99);
    }
}

.btn-inline {
    display: inline-block;
    vertical-align: middle;
}
.btn-icon {
    height: map-get($map: $buttonHeights, $key: 's');
    width: map-get($map: $buttonHeights, $key: 's');

    padding: 0 !important;
    text-align: center;
    
    img {
        display: inline-block;
        height: 45%;
        width: 45%;
        vertical-align: middle;
        margin: 0;
    }

    &.btn-m {
        height: map-get($map: $buttonHeights, $key: 'm');
        width: map-get($map: $buttonHeights, $key: 'm');
    }
    &.btn-l {
        height: map-get($map: $buttonHeights, $key: 'l');
        width: map-get($map: $buttonHeights, $key: 'l');
    }
    &.btn-xl {
        height: map-get($map: $buttonHeights, $key: 'xl');
        width: map-get($map: $buttonHeights, $key: 'xl');
    }
}
.btn-icon-circle {
    border-radius: 50%;
}
.btn-text-left {
    text-align: left;
}
.btn-text-center {
    text-align: center;
}
.btn-text-right {
    text-align: right;
}