[Unit]
Description=Icecast Daemon Service
Requires=network.target
After=network.target

[Service]
Type=forking
Restart=on-failure
RestartSec=3

User=server
Group=server

ExecStart=<PATH_TO_START_SH>
ExecStop=<PATH_TO_STOP_SH>

[Install]
WantedBy=multi-user.target