<div class="flex flex-col items-start justify-start gap-window-2 p-window-2 bg-body-light w-full md:min-w-96">
  <!-- Dialog title -->
  <div class="w-full">
    <h5>Channel erstellen</h5>
    <p class="mt-1">
      Lege einen neuen Channel an, um das Programm im Radio zu diversifizieren.
    </p>

    <!-- Error message -->
    <tsr-error class="mt-4" *ngIf="_latestError()" icon="" [error]="_latestError()" [compact]="true"></tsr-error>
  </div>

  <div class="w-full">
    

    <form [formGroup]="_channelForm" novalidate>
      <mat-form-field class="w-full text-font pb-4" appearance="fill">
        <mat-label>Name des Channels</mat-label>
        <input type="text" #nameInput matInput formControlName="name" maxlength="64" class="text-font">
        <mat-error class="p-0" *ngIf="_channelForm.get('name').hasError('required')">
          Name wird benötigt
        </mat-error>
        <mat-error class="p-0" *ngIf="_channelForm.get('name').hasError('minlength')">
          Mindestens 3 Zeichen benötigt
        </mat-error>
        <mat-hint align="end">{{nameInput.value.length}} / 64</mat-hint>
      </mat-form-field>

      <mat-form-field class="w-full text-font pb-4" appearance="fill">
        <mat-label>Beschreibung</mat-label>
        <input type="text" #descInput matInput formControlName="description" maxlength="254" class="text-font">
        <mat-error class="p-0" *ngIf="_channelForm.get('description').hasError('minlength')">
          Mindestens 3 Zeichen benötigt
        </mat-error>
        <mat-hint align="end">{{descInput.value.length}} / 254</mat-hint>
      </mat-form-field>

      <mat-slide-toggle formControlName="enabled" class="pb-4 w-full" color="primary"><p class="text-font">Channel im Radio auflisten</p></mat-slide-toggle>
      <mat-slide-toggle formControlName="featured" class="pb-4 w-full" color="primary"><p class="text-font">Channel hervorheben?</p></mat-slide-toggle>
    </form>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 w-full items-center justify-end gap-2">
    <tsa-text-button [full]="true" [mat-dialog-close]="null">Abbrechen</tsa-text-button>
    <tsa-filled-button [full]="true" color="accent" [showSpinner]="true" (clicked)="saveChannel($event)">Speichern</tsa-filled-button>
  </div>
</div>