<div class="relative flex flex-1 flex-col items-start justify-start mx-auto h-full overflow-hidden container px-window pt-window">
    <div class="flex items-center justify-center w-full p-4 bg-body-dark rounded">
        <div class="flex items-center gap-4">
            <img src="/assets/img/logo.svg" alt="" class="w-16 h-16">
            <p class="text-2xl font-bold">TSRadio</p>
        </div>
        <div class="flex-grow"></div>
        <div class="flex items-center justify-end">
            <a [routerLink]="['/']" routerLinkActive="text-accent">Channels</a>
        </div>
    </div>

    <div class="flex-grow overflow-y-auto border">

        <div class="pb-bottom"></div>
    </div>

    <div class="absolute bottom-window left-window right-window overflow-hidden rounded bg-body-dark p-4">

    </div>
</div>