<div class="relative flex flex-1 items-start justify-start h-full w-full overflow-hidden select-none lg:rounded">
    <!-- Drawer -->
    <div class="absolute left-0 top-0 bottom-0 h-full bg-body-dark min-w-80 w-80 p-window rounded-r-xl lg:relative transform-gpu will-change-transform transition-all -translate-x-full lg:translate-x-0">
        <div class="flex flex-col items-start justify-start gap-window w-full h-full">
            <div class="w-full text-left">
                <tsr-logo class="mb-4 w-20 h-20 cursor-pointer" [routerLink]="['/']"></tsr-logo>

                <nav-list-item [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}"><ng-icon name="heroArrowLeft" size="24"></ng-icon>Zurück zur App</nav-list-item>
            </div>

            <div class="flex flex-col w-full gap-1 h-full">
                <p class="text-xs uppercase opacity-70 py-2">Allgemein</p>
                <nav-list-item [routerLink]="['./']" [routerLinkActiveOptions]="{exact: true}"><ng-icon name="heroRectangleGroup" size="24"></ng-icon>Dashboard</nav-list-item>
                <nav-list-item [routerLink]="['./channels']"><ng-icon name="heroSignalSolid" size="24"></ng-icon>Channels</nav-list-item>
                <nav-list-item [routerLink]="['./playlists']"><ng-icon name="heroSignalSolid" size="24"></ng-icon>Playlists</nav-list-item>
                <nav-list-item [routerLink]="['./schedules']"><ng-icon name="heroSignalSolid" size="24"></ng-icon>Sendepläne</nav-list-item>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="w-full h-full">
        <div class="flex flex-col items-start justify-start w-full h-full">
            <!-- <div class="w-full">
                Header
            </div> -->
            <div class="flex-grow w-full border pt-window px-window overflow-y-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>